@import "mixin";

.wrapper{
    overflow: hidden;
    min-height: 100%;
}

.hero{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;      
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 75px;
    padding-top: 59px;
    position: relative;
}

.header{
    width: 100%;   
    background: #ffffff;    
    padding-top: 10px; 
}   

.container{
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
}

.header__menu{
    display: flex;    
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 18px;
}

.header__logo{
    display: flex;    
    text-align: right;    
}

.header__text{
    text-align: left;
    align-self: flex-end;
    border-left: 2px solid #aaaaaa;
    margin-left: 5px;
    height: 50px;    

    p{
        margin-left: 5px;
        font-size: 12px;
        color: #aaaaaa;        
    }    
}

.header__descr{
    margin-top: 20px;
}

.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__item{
    margin-right: 20px;

   
    &_language{
        margin-right: 6px;        
    }
}

.nav__lang{
    margin-top: 5px;
    color: #e35444;
    font-weight: 600;
}

.buttons{
    display: flex;
    flex-wrap: nowrap;   
}

.button{
    border: none;      
    background: linear-gradient(77deg, rgb(155, 38, 78) 0%, rgb(188, 55, 74) 100%); 
    padding: 8px;
    border-radius: 35px;
    width: 195px;
    margin-right: 10px;    
}

.button__link{
    text-decoration: none;
    color: #ffffff;
}

.fa{
    margin-right: 13px;
}

.hero__menu{
    width: 100%;
    height: 60px;
    background: rgba(89, 46, 56, 0.8);
    position: absolute;
    z-index: 2;   
}

.menu__list{
    display: flex;    
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: center;
    width: 96%;
    margin: 0 auto;  
    padding-top: 17px;    
}

.menu__link{
    text-decoration: none;
    color: #ffffff;
}

.center{
    min-height: 750px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    margin-top: 50px;    
}

.center__block{
    width: 204px;
    height: 206px;
    position: absolute;

    &_one{
        background: rgba(228, 99, 83, 0.9);
        top: -6.7%;
        left: 15%;
    }
    &_two{
        background: rgba(160, 47, 91, 0.9);
        right: 6%;        
    } 
    &_three{
        background: rgba(72, 10, 46, 0.9);
        top: 20.8%;
        left: -1.9%; 

        @include desktop{
            left: 0;
        }      
    } 
    &_four{
        background: rgba(253, 214, 152, 0.9);
        left: 15.1%;
        top: 48.3%;

        p{
        color: #39002b;}
    }     
}

.center__description{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    color: #ffffff;
}

.center__pic{
    margin-bottom: 30px;
}

.center__header{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffffff;
    padding-bottom: 10px;

    h1{
        font-size: 150%;
        font-weight: 400;
        margin-bottom: 10px;

        @include tablets{
            font-size: 120%;
        }
    }

    h2{
        color: #e4b16b;
        font-style: italic;
        font-size: 20px;
        font-weight: 200;   
           
    }
}

.center__down{
    position: absolute;
    left: 50%;
    bottom: -10.5%;

    @include phones{
        display: none;
    }
}




